.site {
    overflow: clip;
    flex: 1
}

.fixed-sidebar {
    align-items: flex-start;
}

.fixed-sidebar .block-split__item-sidebar {
    position: sticky;
    top: 10px;
}

.block-split__item-sidebar {
    z-index: 20;
}

.wide-container {
    max-width: calc(100vw - 2rem) !important;
    margin: auto;
    padding: 0;
}

/* Sidebar padding */
.site {
    margin-left: 19rem
}

@media (max-width: 1200px) {
    .site {
        margin-left: 0
    }

    .sidebar__content {
        display: none;
    }
}
